* {
    margin: 0;
    padding: 0;
}

.titulo-principal {
    padding-left: 30px;
}


.principal {
    background-color: #CCCCCC;
    padding: 30px;
   }

   .titulo-centralizado{
    text-align: center;
}


p{
    text-align: center;
}

em strong{
    color: #c44242;
}

#mision{
    font-size: 25px;
}

#photo {
    width: 100%;

        
}




.diferenciales{
    background: #605656;
    padding: 30px;
}


.items{
    font-style: italic;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}